.add-plans {
  background: #d4d9eb;
}

.add-plans__list {
  list-style: none;
}

.add-plans__item {
  background: white;
}

.add-plans__item h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;
}

.add-plans__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.add-plans__item label {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.add-plans__item label > span {
  color: rgba(29, 46, 91, 0.3);
}

.add-plans__item .chieldren {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #1d2e5b;
  text-transform: none;
}

.add-plans__item a {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  text-decoration: none;
  text-transform: uppercase;
}

.add-plans__fieldset legend {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.add-plans__fieldset textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(68, 68, 68, 0.3);
}

.add-plans__item .add-plans__fieldset:nth-child(4) textarea {
  color: #444444;
}

.add-plans__button {
  background: #ffd74b;
}


.add-plans__item input {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1d2e5b;
}

// calendar

.add-plans__weekdays {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.weekdays-red {
  color: #ff5c23;
}

.add-plans__days {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.add-plans__days li {
  border: 1px solid #cbced9;
  box-sizing: border-box;
}


.days-grey {
  color: rgba(68, 68, 68, 0.3);
}

.days-white {
  font-weight: 500;
  color: white;
  background: #1d2e5b;
}

.days-white li:first-child {
  border: 2px solid #ff5c23;
  box-sizing: border-box;
}

.days-blue {
  font-weight: 500;
  color: #1d2e5b;
  background: #edeff6;
}
