.add-profile {
  background: #e6e8f1;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.add-profile img {
  position: absolute;
}

.add-profile a {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #132576;
  text-decoration: none;
}

.add-profile h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.add-profile__list {
  list-style: none;
}

.add-profile__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}
