.alphabet {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1d2e5b;
}

.alphabet li {
  border: 1px solid #cbced9;
  background: white;
}

.alphabet li:first-child {
  background: #EDEFF6;
}

.choice__country {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
