.anket__list {
  list-style: none;
}

.anket__item {
  background: white;
}

.anket__item a {
  text-decoration: none;
}

.anket__name h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;
}

.anket__item p {
  font-size: 15px;
  line-height: 16px;
  color: #444444;
}

.anket__item p:nth-child(4) {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #161c35;
}

.anket__item p:nth-child(6) {
  line-height: 18px;
}


.want-country ul {
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1d2e5b;
}

.call {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #161c35;
  background: #ffd74b;
}

.show-more {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1d2e5b;
}
