.anket {
  padding-bottom: 75px;
}

.anket__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.anket__item {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, min-content);
  margin: 0 25px 10px;
  border-radius: 20px;
  min-height: 416px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, min-content);
    min-height: 333px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, min-content);
    min-height: 285px;
  }
}

.anket__item:nth-child(2) {
  min-height: 393px;
}

.anket__item:last-child {
  min-height: 393px;
}

.anket__item a {
  text-decoration: none;
  position: relative;
}

.anket__img {
  grid-column-start: 1;
  grid-row: ~"1 / 3";
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 4";
    grid-row: ~"1 / 4";
  }
}

.anket__img img {
  width: 70px;
  height: 70px;
  padding: 15px 0 0 18px;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    padding: 35px 0 0 35px;
  }
}

.anket__item:first-child .anket__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/icon/btn/like_btn_active.svg") no-repeat;
  right: -8px;
  top: 53px;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    background: url("../img/icon/btn/btn_desktop/like_btn_active.png") no-repeat;
    top: 154px;
    left: 392px;
  }
}

.anket__item .anket__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/icon/btn/like_btn.svg") no-repeat;
  right: -8px;
  top: 53px;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    background: url("../img/icon/btn/btn_desktop/like_btn.png") no-repeat;
    top: 154px;
    left: 392px;
  }
}

.anket__name h3 {
  margin: 0;
  padding: 15px 22px 0 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;
  width: 78px;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    width: 100%;
  }
}

.anket__name:nth-child(2) h3 {
  padding: 13px 22px 0 15px;
}

.anket__name {
  grid-column: ~"2 / 4";
  grid-row-start: 1;

  @media (min-width: @tablet-width) {
    grid-column: ~"4 / 7";
    grid-row-start: 1;
    margin-top: 23px;
  }
}

.anket__name::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background: #f97676;
  border-radius: 50%;
  right: 22px;
  top: 23px;
}

.anket__item:last-child .anket__name::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background: #bbf085;
  border-radius: 50%;
  right: 22px;
  top: 23px;

  @media (min-width: @tablet-width) {
    right: auto;
    top: 11px;
    left: 250px;
  }
}

.anket__item:first-child .anket__name::before {
  @media (min-width: @tablet-width) {
    right: auto;
    left: 220px;
    top: 11px;
  }
}

.anket__item:nth-child(2) .anket__name::before {
  @media (min-width: @tablet-width) {
    right: auto;
    left: 186px;
    top: 11px;
  }
}

.anket__item:nth-child(3) .anket__name::before {
  @media (min-width: @tablet-width) {
    right: auto;
    left: 220px;
    top: 11px;
  }
}

.anket__item p {
  margin: 0;
  font-size: 15px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.anket__item p:nth-child(3) {
  font-weight: 700;
  grid-column-start: 2;
  padding-left: 13px;

  @media (min-width: @tablet-width) {
    grid-column-start: 7;
    grid-row-start: 3;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
  }
}

.anket__item p:nth-child(4) {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #161c35;
}

.anket__item p:nth-child(5) {
  line-height: 18px;
}

.hashtag {
  grid-column: ~"1 / 4";
  padding: 9px 0 6px 26px;
  width: 176px;

  @media (min-width: @tablet-width) {
    grid-column: ~"4 / 7";
    grid-row-start: 2;
    width: 226px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"4 / 7";
  }
}

.call {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #161c35;
  background: #ffd74b;
  grid-column: ~"1 / 4";
  margin: 10px 20px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  min-height: 40px;

  @media (min-width: @tablet-width) {
    grid-column: ~"4 / 6";
    grid-row-start: 3;
    border-radius: 40px;
    width: 150px;
    min-height: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4;
  }
}

.show-more {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1d2e5b;
  margin: 20px 0 18px 0;
}

.show-more svg {
  margin-right: 15px;
  margin-top: 4px;
}

.anket__transport {
  grid-column: ~"1 / 3";

  @media (min-width: @tablet-width) {
    grid-column: 9;
    grid-row: ~"1 /3";
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3;
    grid-column: 8;
  }
}

.anket__transport p {
  position: relative;
  width: 87px;
  padding-left: 12px;
  box-sizing: border-box;
  background: white;
  bottom: 9px;
  left: 15px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.anket__transport img {
  width: 23px;
  height: 22px;

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.anket__transport--wrapper {
  padding: 6px 0 7px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 38px 41px 0 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    padding: 0;
  }
}

.anket__level {
  @media (min-width: @tablet-width) {
    grid-column-start: 9;
    grid-row-start: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 9;
  }
}

.anket__level p {
  position: relative;
  width: 64px;
  background: white;
  padding-left: 14px;
  box-sizing: border-box;
  bottom: 9px;
  left: 14px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.anket__level img {
  margin-left: 23px;
}
