.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #1d2e5b;
  background: #ffd74b;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.button--autorization {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
  text-decoration: none;
  order: 1;
  padding: 12px 81px 8px 78px;
  border-radius: 25px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.button--contact {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #192144;
  text-decoration: none;
}

.button--direction {

  padding: 22px 142px 22px 23px;

  @media (min-width: @desktop-width) {
    grid-column: 2;
    margin-left: 161px;
  }
}

.button--companion {
  padding: 22px 133px 22px 23px;
}

.button--close {
  margin-left: auto;
  margin-right: 25px;
}
