.direction {
  background: #edeff6;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

.direction h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.direction p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #444444;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
  }
}

.direction a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #1d2e5b;
  background: #ffd74b;

  @media (min-width: @desktop-width) {
    grid-column: 2;
  }
}

.direction__list {
  list-style: none;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.direction__item {
  width: 270px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  @media (min-width: @tablet-width) {
    width: 616px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.direction__item img:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.direction__item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  grid-column-start: 1;
  grid-row-start: 3;
}

.direction__item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  grid-column-start: 1;
}

.direction__item img:nth-child(2) {
  width: 35px;
  height: 24px;
}

.direction__people {
  grid-column-start: 2;
  grid-row-start: 3;
}
