.direction {
  background: #EDEFF6;
}

.direction h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FF8D30;
}

.direction p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.direction a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #1D2E5B;
}

.direction__list {
  list-style: none;
}

.direction__item {
  background-color: white;
}

.direction__item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.direction__item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}
