.footer {
  background: url(../img/pognali-footer.png) no-repeat;
}

.footer a {
  text-decoration: none;
}

.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
