.form__anket {
  background: #edeff6;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.form__change-photo {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #161c35;
  background: #dfe3f0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.form__fieldset {
  border: none;
}

.form__fieldset legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;
}

.checkbox__submit {
  border: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  background: #ffd74b;
  text-transform: uppercase;
}
