.interest {
  background: #192144;
}

.interest h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FF8D30;
}

.interest p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.interest a {
  color: #FFD74B;
}

.interest__contact a{
  font-weight: 700;
}

.interest__map {
  background: #FFD74B;
}

.interest__map a {
  font-weight: 700;
  color: #1D2E5B;
  font-size: 16px;
  line-height: 22px;
}

.map-geo  a:nth-child(2){
  font-size: 18px;
  line-height: 18px;
}
