.main__promo {
  border-radius: 0 0 20px 20px;
  background-color: #161c35;
  position: relative;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.main__promo::before {
  content: "";
  position: absolute;
  width: 214px;
  height: 5px;
  background: #ff8d30;
  border-radius: 4px;
  bottom: -2px;
  left: 26px;

  @media (min-width: @tablet-width) {
    width: 358px;
    height: 8px;
    left: 122px;
    bottom: -3px;
  }
}

.main__promo > h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: @white;
  padding: 60px 25px 12px 25px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 134px 0 66px 75px;
    font-size: 60px;
    line-height: 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 124px 0 68px 124px;
  }
}

.main__promo a {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
  }
}
